body{
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    
}

.stylish-big-font{
    font-size: 2.6rem;
    
}
.stylish-small-font{
    font-size: 1.5rem;
}
img{
    height :8rem;  
    padding : 5px;  
}
img:hover{
    border: 2px solid green;
    transform: none;;
}
img:active{
    box-shadow: 5px 5px 5px rgb(90, 90, 90);
    transform: translateY(3px);

}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.tiles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    


    
    
    padding: 10px;
}